<beans xmlns="http://www.springframework.org/schema/beans" xmlns:context="http://www.springframework.org/schema/context" xmlns:p="http://www.springframework.org/schema/p" xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
      http://www.springframework.org/schema/beans/spring-beans-4.1.xsd
      http://www.springframework.org/schema/context
      http://www.springframework.org/schema/context/spring-context.xsd
      http://www.springframework.org/schema/mvc
      http://www.springframework.org/schema/mvc/spring-mvc-4.1.xsd">
	<!-- 我们可以在其中添加我们所需要配置的bean，也可以添加相应的数据库连接和事务处理等等，方便后续拓展 -->

	<!-- Debug使用时为false，生产使用时全为true -->
	<context:property-placeholder location="classpath*:/config.properties" ignore-resource-not-found="false" ignore-unresolvable="false" />

	<!-- 启动注解扫描功能 -->
	<context:component-scan base-package="com.boyuanitsm.easyplay">
		<context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller" />
	</context:component-scan>

	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource" destroy-method="close">
		<property name="driverClass" value="${driverClass}" />
		<property name="jdbcUrl" value="${jdbc.url}" />
		<property name="user" value="${jdbc.user}" />
		<property name="password" value="${jdbc.password}" />

		<property name="initialPoolSize" value="${connection_pools.initial_pool_size}" />
		<property name="minPoolSize" value="${connection_pools.min_pool_size}" />
		<property name="maxPoolSize" value="${connection_pools.max_pool_size}" />
		<property name="maxIdleTime" value="${connection_pools.max_idle_time}" />
		<property name="acquireIncrement" value="${connection_pools.acquire_increment}" />
		<property name="checkoutTimeout" value="${connection_pools.checkout_timeout}" />
	</bean>
	<!-- spring 文件上传 -->
	<bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<!-- 最大允许上传文件大小 单位:字节 <property name="maxUploadSize"> <value>1048576</value> </property> -->
		<!-- 单位是字节! 字节! -->
		<!--<property name="maxUploadSize" value="200000"/>-->
	</bean>

	<bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
		<property name="dataSource" ref="dataSource" />
	</bean>

	<bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource" />
	</bean>

	<!-- 任务缓存加载bean -->
	<bean id="taskCacheUtils" class="com.boyuanitsm.easyplay.util.TaskCacheUtils" />

	<!-- spring security 配置 -->
	<import resource="security-context.xml" />

	<!-- hibernate 配置 -->
	<import resource="hibernate-context.xml" />

	<!-- 配置AOP -->
	<import resource="base-aop.xml" />

	<!-- 定时任务
	<import resource="spring-quartz.xml" />
	-->
</beans>
